<div class="crm-container">
 <h1 crm-document-title="ts('Membership Search using Angularjs')" crm-page-title><i class="crm-i fa-angle-card"></i>{{ts('Membership Start - Expiry Search using Angularjs')}}</h1>

  <form name="thisForm" crm-ui-id-scope >

    <div class="help">
       <small>{{ts('To see larger resultset, Please select dates as follows')}}</small>
       <br>
       <small>{{ts('Membership From Date : LAST 90 DAYS INCLUDING TODAY')}}</small><br>
         <small>{{ts('Membership Expiry Date : NEXT FISCAL YEAR')}}</small>
    </div>
  
      <div class="crm-block crm-form-block crm-basic-criteria-form-block">
        <div class="crm-group">
          <div crm-ui-field="{StartDate: 'thisForm.start_date', title: ts('Start Date'), help: hs('Membership starting Date')}">
            <select crm-ui-select="{placeholder:'select a date ',allowClear:true,minimumResultsForSearch:1}" 
        ng-model="selectedFromDate" style="width:200px" required ng-change="dateChange(selectedFromDate,selectedToDate)">
        <option value="{{key}}" ng-repeat="(key,value) in relDateObject">{{value}}</option>
         </select>
		  </div>
        </div>

        <div class="crm-group">
          <div crm-ui-field="{EndDate: 'thisForm.end_date', title: ts('End Date'), help: hs('Membership End Date')}">
            <select crm-ui-select="{placeholder:'select a date ',allowClear:true,minimumResultsForSearch:1}" 
        ng-model="selectedToDate" style="width:200px" required ng-change="dateChange(selectedFromDate,selectedToDate)">
        <option value="{{key}}" ng-repeat="(key,value) in relDateObject">{{value}}</option>
         </select>
      </div>
        </div>
		<input ng-click="search(selectedFromDate,selectedToDate)" class="crm-form-submit default validate"  crm-icon="fa-check" name="_qf_Basic_refresh" value="Search" type="submit" id="_qf_Basic_refresh">
      </div>

      <div>
      </div>
  
	<div crm-ui-visible="retMemberships.length > 0">
	 <div  crm-ui-accordion="{title: ts('Search Result')}" >	
	 <table>
	 <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>MembershipType</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
	 </thead>
	   <tbody>
        <tr ng-repeat="ms in retMemberships" ng-class="{ 'even-row': $even, 'even-row': $odd }">
            <td>{{ms.contact_id}}</td>
            <td> {{ms.name}}</td>
            <td> {{ms.description}}</td>
            <td> {{ms.start_date | date:'dd/MM/yy'}}</td>
            <td> {{ms.end_date | date:'dd/MM/yy'}}</td>

            <td style="width:135px;">
                <span>
                    <a href="/civicrm/contact/view?reset=1&amp;cid={{ms.contact_id}}&amp;context=search"
                       class="action-item crm-hover-button view-contact no-popup"
                       title="View Contact Details">View</a>
                    <a href="/civicrm/contact/add?reset=1&amp;action=update&amp;cid={{ms.contact_id}}&amp;context=search"
                       class="action-item crm-hover-button edit-contact no-popup"
                       title="Edit Contact Details">Edit</a>
                </span>
                <span class="btn-slide crm-hover-button">
                    more
                    <ul class="panel">
                        <li>
                            <a href="/civicrm/contact/view/delete?reset=1&amp;action=add&amp;cid={{ms.contact_id}}&amp;context=search" class="action-item crm-hover-button delete-contact small-popup" title="Delete Contact">Delete Contact</a>
                        </li>
                        <li><a href="/civicrm/contact/view/contribution?reset=1action=add&amp;cid={{ms.contact_id}}&amp;context=contribution" class="action-item crm-hover-button new-contribution" title="Add Contribution">Add Contribution</a></li>
                        <li><a href="/civicrm/contact/view/participant?reset=1&amp;action=add&amp;cid={{ms.contact_id}}&amp;context=participant" class="action-item crm-hover-button new-participant" title="Register for Event">Register for Event</a></li>
                        <li><a href="/civicrm/contact/view/pledge?reset=1&amp;amp;action=add&amp;cid={{ms.contact_id}}&amp;context=pledge" class="action-item crm-hover-button new-pledge" title="Add Pledge">Add Pledge</a></li>
                        <li><a href="/civicrm/contact/view/membership?reset=1&amp;action=add&amp;cid={{ms.contact_id}}&amp;context=membership" class="action-item crm-hover-button new-membership" title="Add Membership">Add Membership</a></li>
                        <li><a href="/civicrm/contact/view/rel?reset=1&amp;action=add&amp;cid={{ms.contact_id}}&amp;context=rel" class="action-item crm-hover-button new-relationship" title="Add Relationship">Add Relationship</a></li>
                        <li><a href="/civicrm/contact/view/activity?action=browse&amp;selectedChild=activity&amp;reset=1&amp;cid={{ms.contact_id}}" class="action-item crm-hover-button new-activity" title="Record Activity">Record Activity</a></li>
                        <li><a href="/civicrm/contact/view/note?reset=1&amp;action=add&amp;cid={{ms.contact_id}}&amp;context=note" class="action-item crm-hover-button new-note medium-popup" title="Add Note">Add Note</a></li>
                        <li><a href="/civicrm/contact/view/activity?atype=3&amp;amp;action=add&amp;amp;reset=1&amp;amp;cid={{ms.contact_id}}" class="action-item crm-hover-button new-email" title="Send an Email">Send an Email</a></li>
                        <li><a href="/civicrm/contact/view/group?reset=1&amp;action=add&amp;cid={{ms.contact_id}}&amp;context=group" class="action-item crm-hover-button group-add-contact" title="Add to Group">Add to Group</a></li>
                        <li><a href="/civicrm/contact/view/tag?reset=1&amp;action=add&amp;cid={{ms.contact_id}}&amp;context=tag" class="action-item crm-hover-button tag-contact" title="Tag Contact">Tag Contact</a></li>
                    </ul>
                </span>
            </td>
        </tr>
	 </tbody>
	  </table>
	 </div>
	</div>
  </form>
</div>
